*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
    font-family: 'Poppins';
    background-color: #222229;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    
}
html,body{
    overscroll-behavior-y: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    
}
#start-button{
    font-family: saira; font-size:5vh;font-weight: 400; 
    cursor: pointer;
    position: absolute;
    width: 10%;
    height: 7%;
    left: 45%;
    top: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Saira';
    border-radius: 20px;
    color:#000000;
    background-color: white;
    // text-align:center;
    }
    #button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    // .bouncy{
    //     animation:bouncy 3s infinite linear;
    //     position:relative;
    //     }
    //     @keyframes bouncy {
    //     0%{top:0em}
    //     40%{top:0em}
    //     43%{top:-0.9em}
    //     46%{top:0em}
    //     48%{top:-0.4em}
    //     50%{top:0em}
    //     100%{top:0em;}
    //     }
/* #bazar{
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    color: aqua;
    margin-left: 30%;
    margin-top: 30%;
    font-size: 5vh;
} */
/* Glassmorphism card effect */
.card {
    text-align: center;
    margin-left: 10%;
    margin-top: 15%;
    display: none;
    width:500px;
    height: 40%;
    /* backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
}
#gui{
    display: none;
    position: absolute;
    top: -1%;
    left: 58%;
    width:1920px;
    height: auto;
    z-index: 10;
 
}



#guirazi{
    cursor: pointer;
    display: none;
    top: 60%;
    left: 10%;
    position: absolute;
    width:100%;
    height: auto;
    z-index: 10;

    
}
#game{
    background: url("https://cdn.discordapp.com/attachments/902266709568782436/1007257468822372453/unknown.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: center;
    display: none;
    position: absolute;
    width:70%;
    height: 80%;
    z-index: 10;
    top: 50%;
    right: 50%;
    left: 50%;
    // border: red 5px solid;
    // border: red 4px solid;
    // bottom: 2%;
    transform: translate(-50%,-50%);
    
    
}

#guisamy{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    width:100%;
        height: auto;
    z-index: 10;
    
}

#guimarcato{
    cursor: pointer;
    display: none;
    left: 15%;
    top: 25%;
    position: absolute;
    width:100%;
    height: auto;
    z-index: 10;

    
}
#guipalazzo{
    cursor: pointer;
    display: none;
    position: absolute;
    width:100%;
    top: 55%;
    left: 10%;
    height: auto;
    z-index: 10;

    
}
#guicentro{
    cursor: pointer;
    display: none;
    position: absolute;
    width:100%;
    top: 55%;
    left: 10%;
    height: auto;
    z-index: 10;

    
}
#guibazar{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    z-index: 10;

}



#close{
    width: 3%;
    z-index: 50000000000000000000000000;
    margin-left: 95%;
    margin-top: 2%;
}
#close3{
    display: none;
    position: absolute;
    left:78%;
    top:74%;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    z-index: 50;
}
#close2{
    display: none;
    position: absolute;
    left:40%;
    top:40%;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    z-index: 999;
}
html, body {
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
     /* display: none; */
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Outer Cursor Circle */
 .cursor--outer {
     width: 60px;
     height: 60px;
     border-radius: 50%;
     border: 3px solid white;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     position: fixed;
     left: 0;
     top: 0;
     pointer-events: none;
   }
  
  /* Inner Cursor Circle */
   .cursor--inner {
     width: 4px;
     height: 4px;
     position: fixed;
     left: 10px;
     top: 10px;
     border-radius: 50%;
     z-index: 11000;
     background:pink;
   }

//   *, :after, :before {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
// }
// body {
//      margin: 0;
// }
// h1, h2, h3, p, a, ul {
//      font-family: 'Raleway', sans-serif;
// 	color: #000;
// }
// .site-container {
// 	max-width: 1700px;
// 	margin: 0 auto;
// 	padding: 20px;
// }

// $box: #0D284F;

    li:hover{background-color: rgba(255, 81, 0, 0.6);}




    @media (min-width: 360px) {


        
        @keyframes zebi1{
           0%{
              width:0%;
              height: auto;    //   transform: rotateX(90deg);
          }
          15%{
              width:5%;
              height: auto;    //   transform: rotateX(90deg);
          }
          30%{
              width:10%;
              height: auto;    //   transform: rotateX(0deg);
          }
          45%{
              width:15%;
              height: auto;    }
              60%{  width:20%;
                  height: auto;}
                  75%{
                      width:25%;
                      height: auto;    //   transform: rotateX(90deg);
                  }
          100%{
          //   display: none;
          width:80%;
          height: auto;    //   transform: rotateX(90deg);
          }
        }
       
       
       
               .cursor{display: none;}
       
               #chart {
                   position: absolute !important;
                   left:12% !important;
                   width: 70% !important;
               }
       
       
       
               #start-button{
                   left: 30%;
                   width: 40%;
               }
       
       
               ul {
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: space-between;
                    width: 100%;
                   position: absolute;
                   z-index: 9999999;
                   list-style: none;                                                                   
                   text-align: center;
                   left: 1%;
                   li {
                       padding-top: 5px;
                       padding-bottom: 2px !important;
                       text-align: center;
                       transition: transform .1s linear,
                       color .1s linear,
                       background .15s linear;
                       cursor: pointer;
                       font-family: Saira;
                     color: rgb(255, 255, 255,1);
                       display: inline-block;
                       margin-right: 12px !important;
                       position:relative;
                       top: -100px;
                       margin-bottom: 10px !important;
                       &:last-child {
                           margin-right: 0;
                       }
                       a {
                           text-decoration: none;
                       }
                       svg{
                   position: inherit;
                   z-index: 999999999;
               }
                   }
               }
           
               li{
                   :active{background-color: red;}
                   border-radius: 10px;
                   padding: 5px 14px;
                   background-color: rgba(0,0,0,0.6);
               }
           }
       



    @media (min-width: 400px) {


        
 @keyframes zebi1{
    0%{
       width:0%;
       height: auto;    //   transform: rotateX(90deg);
   }
   15%{
       width:5%;
       height: auto;    //   transform: rotateX(90deg);
   }
   30%{
       width:10%;
       height: auto;    //   transform: rotateX(0deg);
   }
   45%{
       width:15%;
       height: auto;    }
       60%{  width:20%;
           height: auto;}
           75%{
               width:25%;
               height: auto;    //   transform: rotateX(90deg);
           }
   100%{
   //   display: none;
   width:80%;
   height: auto;    //   transform: rotateX(90deg);
   }
 }



        .cursor{display: none;}

        #chart {
            position: absolute !important;
            left:12% !important;
            width: 70% !important;
        }



        #start-button{
            left: 30%;
            width: 40%;
        }


        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
             width: 90%;
            position: absolute;
            z-index: 9999999;
            list-style: none;                                                                   
            text-align: center;
            left: 5%;
            li {
                padding-top: 5px;
                padding-bottom: 2px !important;
                text-align: center;
                transition: transform .1s linear,
                color .1s linear,
                background .15s linear;
                cursor: pointer;
                font-family: Saira;
              color: rgb(255, 255, 255,1);
                display: inline-block;
                margin-right: 12px !important;
                position:relative;
                top: -100px;
                margin-bottom: 10px !important;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                }
                svg{
            position: inherit;
            z-index: 999999999;
        }
            }
        }
    
        li{
            :active{background-color: red;}
            border-radius: 10px;
            padding: 5px 14px;
            background-color: rgba(0,0,0,0.6);
        }
    }


    @media (min-width: 800px) {

        
        
 @keyframes zebi1{
    0%{
       width:0%;
       height: auto;    //   transform: rotateX(90deg);
   }
   15%{
       width:5%;
       height: auto;    //   transform: rotateX(90deg);
   }
   30%{
       width:10%;
       height: auto;    //   transform: rotateX(0deg);
   }
   45%{
       width:15%;
       height: auto;    }
       60%{  width:20%;
           height: auto;}
           75%{
               width:25%;
               height: auto;    //   transform: rotateX(90deg);
           }
   100%{
   //   display: none;
   width:30%;
   height: auto;    //   transform: rotateX(90deg);
   }
 }



        #start-button {
            position: absolute !important;
            left:45% !important;
            width: 10% !important;
        }

        #chart{
            position: absolute !important;
            left: 37% !important;
            width: 500px !important;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
             width: 40%;
            position: absolute;
            z-index: 9999999;
            list-style: none;                                                                   
            text-align: center;
            left: 65%;
            li {
                padding-top: 5px;
                padding-bottom: 2px !important;
                text-align: center;
                transition: transform .1s linear,
                color .1s linear,
                background .15s linear;
                cursor: pointer;
                font-family: Saira;
              color: rgb(255, 255, 255,1);
                display: inline-block;
                margin-right: 12px;
                position:relative;
                top: -100px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                }
                svg{
            position: inherit;
            z-index: 999999999;
        }
            }
        }
    
        li{
            :active{background-color: red;}
            border-radius: 10px;
            padding: 5px 14px;
            background-color: rgba(0,0,0,0.6);
        }
    }    

#sound{
    // display:inline-block;
    // left: 53%;
    // bottom: 50px;
    width: 3%;
}

// #book{
//     width: %;
// }

.button {
  --light: #fff;
  --dark: #414856;
  --border: #C3C8DE;
  --background: #4F29F0;
  border: 0;
  border-radius: 2px;
  border: 1px solid var(--border);
  background: none;
  color: var(--dark);
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 30px rgba(#414856, 0.1);
  transition: transform .1s linear,
    color .1s linear,
    background .15s linear;
  cursor: none;
//   > span {
//     display: inline-block;
//     position: relative;
//     z-index: 2;
//     font: 400 16px 'Varela Round', sans-serif;
//     transition: transform .15s linear;
//   }
//   &.fill {
//     border: 0;
//     color: var(--light);
//     background: var(--background);
//   }
}

// .cursor {
//   --cursor: #C3C8DE;
//   position: fixed;
//   top: -50px;
//   z-index: 99;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   background: none;
//   border: solid 2px var(--cursor);
//   pointer-events: none;
//   transition: transform .3s ease,
//     background .3s ease,
//     border-color .3s ease;
// }
// [cursor="link"] {
//   &:hover {
//     ~ .cursor {
//       mix-blend-mode: difference;
//       transform: scale(1.5);
//       cursor: none;
//       background: #fff;
//       border-color: #fff;
//     }
//   }
// }


#chart {
    position: absolute;
    left: 37%;
    top: 70%;
	z-index: 9999999999999999999;
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}
    #chart span {
        /* You can modify the value below to change the distance between the percentage number and the bar */
        margin-left: 5px;
        color: #fff;
        font-weight: bolder;
    }

.bar {
    /* You can modify the total time used for the animation here */
    animation: load 20s normal forwards;
    /* 
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D 
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
} 

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 100%;
    }
}

#load {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    position: absolute;
    width: 100%;
   height: 100vh;
  background-color: black;
  position: fixed;
  width: 100%;
   height: 100%;
 }
 
 a {
    border: 2px gray solid;
    border-radius: 10em;
    background-color: lightgray;
    bottom: 2vmin;
    right: 2vmin;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
 }
 
 a:hover {
   color: #fff;
}

@keyframes myAnimation{
    0%{
      opacity: 1;
    //   transform: rotateX(90deg);
    }
    25%{
      opacity: 0.75;
      //   transform: rotateX(0deg);
    }
    50%{
        opacity:0.5;
    }
    99%{
        //   display: none;
        opacity: 0;
      //   transform: rotateX(90deg);
    }
    100%{z-index: -100;
        opacity: 0;
    visibility: 0;}
  }
  
  .myelement{
      animation-name: myAnimation;
      animation-duration: 4000ms;
      animation-fill-mode: forwards;
  }
  .myelementfaster{
    animation-name: myAnimation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
  .myelement1{
    animation-name: myAnimation1;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
}

  
.zebi{
    animation-name: zebi1;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


  @keyframes myAnimation1{
      0%{
      opacity: 0;
    //   transform: rotateX(90deg);
    }
    25%{
      opacity: 0.25;
    //   transform: rotateX(0deg);
    }
    50%{
        opacity:0.75;
    }
    100%{
    //   display: none;
      opacity: 1;
    //   transform: rotateX(90deg);
    }
  }


  .zebi5{
    animation-name: zebi2;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


  @keyframes zebi2{
    0%{
        width:30%;
        height: auto;    //   transform: rotateX(90deg);
    }
    15%{
        width:25%;
        height: auto;    //   transform: rotateX(90deg);
    }
    30%{
        width:20%;
        height: auto;    //   transform: rotateX(0deg);
    }
    45%{
        width:15%;
        height: auto;    }
        60%{  width:10%;
            height: auto;}
            75%{
                width:5%;
                height: auto;    //   transform: rotateX(90deg);
            }
            99%{
    //   display: none;
    width:0%;
    height: auto;    //   transform: rotateX(90deg);
    }
    100%{ opacity: 0 ; z-index: -10;}
  }

  #guielectrono{
    cursor: pointer;
    display: none;
   position: absolute; 
    width: 100%;
    height: auto;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%); 
    top: 60%;
    z-index: 999999999999999999999999999999999999999999999999999999999999;
  }
  #guibazarstory{
    cursor: pointer;
    display: none;
   position: absolute; 
    width: 100%;
    height: auto;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%); 
    top: 60%;
    z-index: 999999999999999999999999999999999999999999999999999999999999;
  }

  #defaultCanvas0{
    
    position: relative;
    left: 10%;
    top: 5rem !important;
   width: 80% !important;
   height: 70% !important;

  }

  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');

:root {
	--dark: #333;
	--light: #fff;
	--neutral: #f6f6f6;
	--neutral-dark: #d1d1d1;
	--color: #5607d7;
	--color-light: #941ed2;
	--color-dark: #2719cd;
	--font-stack: 'Josefin Sans', 'Montserrat', 'sans-serif';
}

// body {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	font-family: var(--font-stack);
// }

.soundMobile{
    width: 7% !important;
    border-radius: 50% !important;
    padding: 2% 3% !important;
}


.hero__wrapper {
    margin-left: -100%;
    z-index: 999999999999;
	display: none;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	
}

.hero__header {
	flex: 0 1 1px;
	padding-right: 50px;
	color: var(--dark);
	font-size: 8vmax;
}

.menu__button {
	--x: -50%;
	--y: 0;
	--z: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(0,0,0,0.6);
	padding: 10px 20px;
	border-radius: 28px;
	box-shadow: 0 2px 40px -10px var(--color);
	color: white;
	font-size: 16px;
	white-space: nowrap;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate3d(var(--x), var(--y), var(--z));
	cursor: pointer;
	z-index: 105;
	transition: .15s cubic-bezier(.33,1,.53,1);
	&[hidden] {
		--y: 200%;
	}
	div {
		display: flex;
		align-items: center;
		width: 12px;
		height: 12px;
		margin-right: 20px;
		div {
			display: table;
			height: 1px;
			background: var(--light);
			box-shadow: 0 4px 0 var(--light), 0 -4px 0 var(--light);
		}
	}
}

.menu__overlay {
		width: 100%;
		height: 100%;
		background: rgba(#000, .1);
		position: absolute;
		z-index: 100;
}

.menu__body {
	--x: 0;
	--y: 0;
	--z: 0;
	display: block;
	width: 100%;
	background: rgba(0,0,0,0.8);
	padding-bottom: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px -9px 50px -30px black;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	bottom: 0;
	z-index: 105;
	transform: translate3d(var(--x), var(--y), var(--z));
	transition: .2s cubic-bezier(.33,1,.53,1);
	&[hidden] {
		--y: 150%;
	}
	> *:not(:last-child) {
		border-bottom: 2px solid rgba(0,0,0,0.6);;
	}
}

.menu__header {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	label {
		div {
			width: 15px;
			height: 15px;
			border: 2px solid white;
			border-radius: 50%;
			position: relative;
			transform: rotate(5.5rad);
			&:after {
				content: '';
				width: 2px;
				height: 10px;
				background: white;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	p {
        color: white;
		font-size: 18px;
		font-weight: bold;
		vertical-align: center;
		white-space: nowrap;
	}
	h3 {
		font-weight: normal;
	}
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		background: white;
		border-radius: 50%;
		cursor: pointer;
		div {
			width: 15px;
			height: 3px;
			background: rgba(0,0,0,0.6);;
			position: relative;
			transform: rotate(5.5rad);
			&:before {
				content: '';
				width: 3px;
				height: 15px;
				background: rgba(0,0,0,0.6);;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.menu__links {
	display: flex;
	padding: 10px 15px;
	font-weight: bold;
	overflow-x: auto;
	a {
		flex: 1 1 1px;
		padding: 10px 8px;
		color: var(--dark);
		text-decoration: none;
		white-space: nowrap;
	}
}

.menu__contact {
	display: flex;
	padding: 8px;
	svg {
		width: 100%;
		fill: var(--color);
	}
	a {
		flex: 1 1 30%;
		padding: 5px;
		margin: 5px;
		border-radius: 8px;
		background: var(--neutral);
		color: var(--color);
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}
}