*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: #222229;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#start-button{
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 80px;
    margin-left: 45%;
    margin-top: 15%;
    display:inline-block;
    padding:0.20em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Saira';
    font-size: 4vh;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    }
    #button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    .bouncy{
        animation:bouncy 3s infinite linear;
        position:relative;
        }
        @keyframes bouncy {
        0%{top:0em}
        40%{top:0em}
        43%{top:-0.9em}
        46%{top:0em}
        48%{top:-0.4em}
        50%{top:0em}
        100%{top:0em;}
        }
/* #bazar{
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    color: aqua;
    margin-left: 30%;
    margin-top: 30%;
    font-size: 5vh;
} */
/* Glassmorphism card effect */
.card {
    text-align: center;
    margin-left: 10%;
    margin-top: 15%;
    display: none;
    width:500px;
    height: 40%;
    /* backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
}
#gui{
    position: absolute;
    top: 55%;
    left: 50%;
    width:40%;
    height: 50%;
    z-index: 10;
    
}
img{
    display: none;
    position: absolute;
    left:78%;
    top:74%;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    z-index: 50;
}
html, body {
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
     /* display: none; */
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
